version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    registries:
      - gh-packages-npm
    groups:
      minor-and-patch:
        patterns:
          - "*"       # aplica a todas las dependencias
        update-types:
          - minor
          - patch
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directories:
      - "/.github/actions/*"
    schedule:
      interval: "weekly"