.DS_Store
node_modules
test-report.xml
junit.xml
coverage/
yarn-error.log
.vscode
.vs
build/
*.class
.idea/
temp/
jsconfig.json

# Yarn 4
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
