name: CI

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
      - '!*.beta.*'
  pull_request:
    branches:
      - master

env:
  KAFKA_VERSION: '2.4'
  COMPOSE_FILE: docker-compose.2_4.yml

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '14.x'
      
      - name: Check if should skip tests
        id: skip_check
        run: |
          if ./scripts/pipeline/shouldRunTests.sh; then
            echo "SKIP_TESTS=true" >> $GITHUB_OUTPUT
            echo "Only non-code has changed!"
          fi
      
      - name: Install dependencies
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn install
      
      - name: Run lint
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn lint

  typescript_types:
    name: Typescript types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '14.x'
      
      - name: Check if should skip tests
        id: skip_check
        run: |
          if ./scripts/pipeline/shouldRunTests.sh; then
            echo "SKIP_TESTS=true" >> $GITHUB_OUTPUT
            echo "Only non-code has changed!"
          fi
      
      - name: Install dependencies
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn install
      
      - name: Test types
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn test:types

  test_broker:
    name: Broker
    runs-on: ubuntu-latest
    needs: lint
    env:
      test_retries: 2
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '14.x'
      
      - name: Check if should skip tests
        id: skip_check
        run: |
          if ./scripts/pipeline/shouldRunTests.sh; then
            echo "SKIP_TESTS=true" >> $GITHUB_OUTPUT
            echo "Only non-code has changed!"
          fi
      
      - name: Install dependencies
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn install
      
      - name: Pull docker images
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: docker-compose -f ${COMPOSE_FILE} pull
      
      - name: Run tests
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn test:group:broker:ci
      
      - name: Publish test results
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Broker Test Results
          path: '**/test-report.xml'
          reporter: jest-junit

  test_admin:
    name: Admin
    runs-on: ubuntu-latest
    needs: lint
    env:
      test_retries: 2
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '14.x'
      
      - name: Check if should skip tests
        id: skip_check
        run: |
          if ./scripts/pipeline/shouldRunTests.sh; then
            echo "SKIP_TESTS=true" >> $GITHUB_OUTPUT
            echo "Only non-code has changed!"
          fi
      
      - name: Install dependencies
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn install
      
      - name: Pull docker images
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: docker-compose -f ${COMPOSE_FILE} pull
      
      - name: Run tests
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn test:group:admin:ci
      
      - name: Publish test results
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Admin Test Results
          path: '**/test-report.xml'
          reporter: jest-junit

  test_producer:
    name: Producer
    runs-on: ubuntu-latest
    needs: lint
    env:
      test_retries: 2
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '14.x'
      
      - name: Check if should skip tests
        id: skip_check
        run: |
          if ./scripts/pipeline/shouldRunTests.sh; then
            echo "SKIP_TESTS=true" >> $GITHUB_OUTPUT
            echo "Only non-code has changed!"
          fi
      
      - name: Install dependencies
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn install
      
      - name: Pull docker images
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: docker-compose -f ${COMPOSE_FILE} pull
      
      - name: Run tests
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn test:group:producer:ci
      
      - name: Publish test results
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Producer Test Results
          path: '**/test-report.xml'
          reporter: jest-junit

  test_consumer:
    name: Consumer
    runs-on: ubuntu-latest
    needs: lint
    env:
      test_retries: 2
      NODE_OPTIONS: --max-old-space-size=6655
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '14.x'
      
      - name: Check if should skip tests
        id: skip_check
        run: |
          if ./scripts/pipeline/shouldRunTests.sh; then
            echo "SKIP_TESTS=true" >> $GITHUB_OUTPUT
            echo "Only non-code has changed!"
          fi
      
      - name: Install dependencies
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn install
      
      - name: Pull docker images
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: docker-compose -f ${COMPOSE_FILE} pull
      
      - name: Run tests
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn test:group:consumer:ci
      
      - name: Publish test results
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Consumer Test Results
          path: '**/test-report.xml'
          reporter: jest-junit

  test_others:
    name: 'Others (protocol, cluster, network, etc)'
    runs-on: ubuntu-latest
    needs: lint
    env:
      test_retries: 2
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '14.x'
      
      - name: Check if should skip tests
        id: skip_check
        run: |
          if ./scripts/pipeline/shouldRunTests.sh; then
            echo "SKIP_TESTS=true" >> $GITHUB_OUTPUT
            echo "Only non-code has changed!"
          fi
      
      - name: Install dependencies
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn install
      
      - name: Pull docker images
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: docker-compose -f ${COMPOSE_FILE} pull
      
      - name: Run tests
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn test:group:others:ci
      
      - name: Publish test results
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Others Test Results
          path: '**/test-report.xml'
          reporter: jest-junit

  test_oauthbearer:
    name: 'OauthBearer'
    runs-on: ubuntu-latest
    needs: lint
    env:
      test_retries: 2
      COMPOSE_FILE: docker-compose.2_4_oauthbearer.yml
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: latest


      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '14.x'
      
      - name: Check if should skip tests
        id: skip_check
        run: |
          if ./scripts/pipeline/shouldRunTests.sh; then
            echo "SKIP_TESTS=true" >> $GITHUB_OUTPUT
            echo "Only non-code has changed!"
          fi
      
      - name: Install dependencies
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn install
      
      - name: Pull docker images
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: docker-compose -f ${COMPOSE_FILE} pull
      
      - name: Run tests
        if: steps.skip_check.outputs.SKIP_TESTS != 'true'
        run: yarn test:group:oauthbearer:ci
      
      - name: Publish test results
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: OauthBearer Test Results
          path: '**/test-report.xml'
          reporter: jest-junit
